.index{
  overflow: auto;
  background: #fff;
  height: 100vh;
}
.seacher{
  overflow: hidden;
  height: 140px;
  background-color: #4F86C6;
}
.seacherBox{
  width: 80%;
  background: #fff;
  border-radius: 40px;
  padding: 20px 30px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  margin-top: 20px;
  z-index: 11;
}
